%article.article
  %section.entry
    %h2.entry_title
      = link_to post.title, post.link
    %section.entry_body
      %img.gravatar{:src => gravatar_image_url(post.user.email)}
      = post.body
  %footer.entry_info
    %span.link_to_entry_comment
      = link_to "#{t.comments}(#{post.comments.size})", "#{post.link}#comment_wrapper"
    %span.entry_date
      = post.updated_at.strftime("%Y/%m/%d %H:%M:%S")
    %span.entry_tweet
      = tweet_button(post.link)
    %span.entry_facebook
      = facebook_like_button
    %span.entry_gree
      = gree_social_feedback
    %span.entry_hatena
      = hatena_bookmark_button(post.title, post.link)
    %span.entry_mixi
      = mixi_check