!!! 5
%html
  %head
    - if entry?
      %title== #{@entry.title} - #{@site.title}
    - else
      %title== #{@site.title}
    %meta(name="description" content="#{@site.meta_descriptyon}")
    %meta(name="keywords" content="#{@site.meta_keywords}")
    %link{:title => @site.title, :rel => 'alternate', :href => '/index.atom', :type => 'application/atom+xml'}
    %link{:rel => 'stylesheet', :href => "#{@theme.path}/style.css", :type => 'text/css'}
    = header
  %body
    %header#header
      %h1
        %a(href="/")
          %img(src="#{@theme.path}/images/logo.png" alt="#{@site.title}")
      %nav
        %ul
          %li{:class => request_path == '/' ? 'current' : ''}
            = link_to 'Home', '/'
          - Page.all.each do |page|
            %li{:class => request_path == page.link ? 'current' : ''}
              = link_to page.title, page.link
    %section#main
      %section#content
        = yield
      %aside#sidebar
        = partial 'twitter'
        = partial 'nicovideo'
    %footer#footer
      Copyright 2011 &copy 
      = @site.title
      All Rights Reserved - Powered by 
      = link_to "Lokka", "http://lokka.org/" 
    %script(type="text/javascript" src="http://apis.google.com/js/plusone.js")
      {lang:'ja'}
